<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Santos FC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleClube.css') }}">
</head>
<body>
    <header>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="santos">Santos FC</a></li>
                <li><a href="saopaulo">São Paulo FC</a></li>
                <li><a href="palmeiras">Palmeiras</a></li>
            </ul>
        </div>
    </header>

    <main>
        <h1>Santos Futebol Clube</h1>

        <section class="historia">
            <h2>História</h2>
            <p>O Santos Futebol Clube é um dos clubes mais tradicionais do Brasil, fundado em 14 de abril de 1912. O clube é conhecido por ter revelado alguns dos maiores jogadores da história do futebol, incluindo Pelé, que é amplamente considerado o maior jogador de futebol de todos os tempos. O Santos ganhou fama mundial nas décadas de 1960 e 1970.</p>
        </section>

        <section class="titulos">
            <h2>Principais Títulos</h2>
            <ul>
                <li>Libertadores: 1962, 1963, 2011</li>
                <li>Mundial de Clubes: 1962, 1963</li>
                <li>Campeonato Brasileiro: 1961, 1962, 1963, 1964, 1965, 1968, 2002, 2004</li>
                <li>Copa do Brasil: 2010</li>
                <li>Campeonato Paulista: Diversos títulos</li>
            </ul>
        </section>
    </main>
</body>
</html>
