<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>São Paulo FC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleClube.css') }}">
</head>
<body>
    <header>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="santos">Santos FC</a></li>
                <li><a href="saopaulo">São Paulo FC</a></li>
                <li><a href="palmeiras">Palmeiras</a></li>
            </ul>
        </div>
    </header>

    <main>
        <h1>São Paulo Futebol Clube</h1>

        <section class="historia">
            <h2>História</h2>
            <p>O São Paulo Futebol Clube, fundado em 25 de janeiro de 1930, é um dos clubes mais bem-sucedidos do Brasil. O clube tem uma rica história de conquistas nacionais e internacionais, e é conhecido por sua base de fãs apaixonada e por seu estádio icônico, o Morumbi.</p>
        </section>

        <section class="titulos">
            <h2>Principais Títulos</h2>
            <ul>
                <li>Libertadores: 1992, 1993, 2005</li>
                <li>Mundial de Clubes: 1992, 1993, 2005</li>
                <li>Campeonato Brasileiro: 1977, 1986, 1991, 2006, 2007, 2008</li>
                <li>Copa do Brasil: 2020</li>
                <li>Campeonato Paulista: Diversos títulos</li>
            </ul>
        </section>
    </main>
</body>
</html>
